{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
    <div class="col-md-12">
        <div class="banner">
            <div class="banner-text">
                <h1>ToDo</h1>
            </div>
        </div>
    </div>
    </div>
</div>
<div class="container shadow">
    <div  class="row">
        <div class="col-md-6">
            <form method="POST" class="p-3 shadow">
                   {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" name="task_name" placeholder="Enter your Task">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="priority" placeholder="Enter priority">
                </div>
                <div class="form-group">
                    <input type="date" class="form-control" name="date" placeholder="Enter Date">
                </div>

                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-success">
                </div>
            </form>
        </div>

        <div class="col-md-6">
            <h6>Task to be completed</h6>
            {% for i in task_view %}
            <div class="shadow card">
                <div class="card-body">
                    <h1>{{i.task_name}}</h1>
                    <p>{{i.priority}}</p>
                    <p>c{{i.date}}</p>
                    <a href="{% url 'delete' i.id %}" class="btn btn-danger">Done</a>
                    <a href="{% url 'update' i.id %}" class="btn btn-warning">Update</a>
                </div>
            </div><br>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}
