
body{
background-color:white;
}
.banner{
background-color:#900C3F ;
width:100%;
height:180px;
margin-bottom:40px;
}

.banner-text{

left:50%;
top:10%;
color:white;
position:absolute;
transform:transform;
}
.container{
background-color:#ede8e8;
}
.form-group{
margin-top:20px;
}